.container {
  display: flex;
  border-bottom: 1px black solid;
  padding: 5px 10px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  text-align: start;
}

.linkContainer {
  display: flex;
  align-items: start;
  gap: 15px;
  border-bottom: 1px black solid;
}
