.link {
  color: rgb(248, 208, 11);
  transition: all 0.3s linear;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: red;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header {
  width: 100%;
  padding: 10px 5px;
  -webkit-box-shadow: 0px 20px 23px 0px rgba(70, 19, 171, 0.93);
  -moz-box-shadow: 0px 20px 23px 0px rgba(70, 19, 171, 0.93);
  box-shadow: 0px 20px 23px 0px rgba(70, 19, 171, 0.93);
}
