.movieImg {
  padding-bottom: 5px;
}

.movieName {
  padding-bottom: 15px;
  color: rgb(248, 208, 11);
  font-size: larger;
  text-decoration: none;
  transition: color 0.3s linear;
}

.container:hover .movieName {
  color: red;
}
